// reset
@import "./reset.scss";

// base z-index
$zIndexOfContent: 0;
$zIndexOfNotice: 100;
$zIndexOfDialog: 1000;

// font-size
$fontSizeOfContent: 14px;

// shadow
$boxShadowOfContent: 0 0 4px rgba(0, 0, 0, 0.1);
$boxShadowOfNotice: 2px 4px 16px rgba(0, 0, 0, 0.2);
$boxShadowOfDialog: 4px 8px 16px 2px rgba(0, 0, 0, 0.4);

// main color
$colorMain: rgb(80, 80, 80);
$colorSuccess: rgb(0, 200, 60);
$colorInfo: rgb(0, 120, 255);
$colorWarn: rgb(255, 200, 60);
$colorError: rgb(255, 60, 0);
$colorSecondMain: rgb(160,160,160);
$colorHint: rgb(200,200,200);

// font size
$fsTopHeader: 20px;
$fsSecondHeader: 18px;
$fsThirdHeader: 16px;
$fsMain: 14px;
$fsHint: 12px;

.content-layer {
  z-index: $zIndexOfContent;
}

.notice-layer {
  z-index: $zIndexOfNotice;
  box-shadow: $boxShadowOfNotice;
}

.dialog-layer {
  z-index: $zIndexOfDialog;
}

.paper-hint {
  color: $colorHint;
  font-size: 12px;
}
